.container{
    background-color: #333333;
    position: relative;
    display: flex;
    
}
.container__nav{
    position: relative;
    width: 1060px;
    background-color: rgb(248, 246, 246);
    padding-bottom: 50px;
}
/* NAv1 */

.container__nav1{
    background-color: var(--nomination-color);
    margin: 00 0 15px 0;
    padding: 0 10px;
    justify-content: center;
}
.container__nominations{
    height: 272px;
    display: flex;
    justify-content: center;
}
.container__nominations-cmt{
    width: 100%;
   display: flex;
   align-items: center;
   padding-left: -4px;
}
.container__nominations-cmt-item-link{
    text-decoration: none;
    margin: 12px 7px 12px 12px;
}
.container__nominations-cmt-item-link .container__nominations-cmt-item{
    font-size: 2.4rem;
    font-weight: 300;
    color: #288ad6;
    margin: 0;
}
.container__nominations-cmt-item-icon{
    font-size: 1.8rem;
    height: 12px;
    color: #288ad6;
}
.nomianations__list-story{
    display: flex;
    position: relative;
}
.nomianations__list-item-story{
    display: flex;
    overflow: hidden;
    height: 234px;
    position: relative;
    justify-content: center;
    transition: transform ease-in 0.1s;
    will-change: transform;
}
.nomianations__list-item-story:hover{
    transform: translateY(-1px);
}
.nomianations__item-story-img{
    width: 190px;
    border-radius:3px;
    cursor: pointer;
}
.nomianations__list-item-story .nomianations__item-information{
    position: absolute;
    bottom: 0;
    width: 190px;
    height: 52px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    display: block;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /* color: #fff; */
    background-color: #000;
    background: url(../img/bg_over.png);
}
.nomianations-information-ctm{
    font-size: 1.4rem;
    margin-top: -2px;
    text-align: center;
    color: var(--while-color);
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.nomianations-information-chap-hour{
    display: flex;
    justify-content: space-around;
}
.nomianations-information-chap{
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    margin-top: -10px;
    color: var(--while-color);
}
.nomianations-information-hour{
    font-size: 1.2rem;
    margin-top: -10px;
    color: var(--while-color);
    font-weight: 200;
    cursor: default;
}
.nomianations-information-hour i{
    font-size: 1rem;
}
.container__nominations-h2{
    display: flex;
    margin-bottom: 20px;
    /* justify-content: center; */
    padding: 0;
    width: 100%;
    flex-wrap: nowrap;
    /* overflow: hidden; */
    overflow-x: auto;
}
.container__nominations-h2::-webkit-scrollbar{
    display: none;
}
.container__nav1 .prev,
.container__nav1 .next{
    position: absolute;
    top: 172px;
    margin-top: -45px;
    width: 55px;
    height: 55px;
    text-align: center;
    background: url(../img/next_prev.png) no-repeat -3px -33px;
    color: #fff;
    text-decoration: none;
}
.container__nav1 .prev{
    left: 10px;
    margin-left: 16px;
}
.container__nav1 .next{
    right: 10px;
    background-position: -63px -33px;
    margin-right: 16px;
}

/* nominations2 */
.container__nav2{
    margin: 0;
}
.container__nominations2,
.container__nominationssub{
    position: relative;
    padding: 0 26px;
    border-radius: 3px;
    overflow: hidden;
}
.container__nominationssub{
    display: block;
}
.container__nominations2-list{
    display: none;
}
.nomianations2__list-item-story{
    margin: 4px 0 24px 0;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: #000 0 0 0;
    display: none;
}
.nomianations2__item-story-img{
    width: 150px;
    height: 196px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    transition: transform ease-in 0.1s;
    will-change: transform;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
.nomianations2__item-story-img:hover{
    transform: translateY(-1px);
}
.nav2__story-cmt{
    text-decoration: none;
}
.nav2__item-cmt-story{
    font-size: 1.6rem;
    font-weight: 300;
    color: #000;
    line-height: 2rem;
    margin: 4px 0;
    padding-top: 4px 0 0 2px;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    position: relative;
}
.icon-hot{
    position: absolute;
    background:url(../img/icon-hot.gif) no-repeat;
    top: 6px;
    width: 22px;
    height: 11px;
    right: 20px;
}
.nav2__item-like{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    margin-right: 13px;
    min-width: 151px;
    top: 171px;
    height: 25px;
    background-color:#333;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    opacity: 0.65;
}
.nav2__item-like h5{
    font-size: 1.2rem;
    line-height: 25px;
    font-weight: 500;
    margin: 0;
    color:#fff;
    cursor: default;
}
.nav2__list-item-cmt{
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding: 5px 0;
}
.nav2__item-chap{
    outline: none;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 200;
    color: #1f1f1f;

}
.nav2__item-hour{
    margin: 0;
    color: #a9a4a4;
    font-weight: 300;
    font-style: italic;
    font-size: 1.2rem;
    cursor: default;
}
.container__nominations2-cmt{
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
/* TOpppp */

.container__nominations2-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 42px;
    background-color: #ecf0f1;
    margin-top: 5px;
}
.container__nominations2-top-list{
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.container__nominations2-top-item{
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: 200px;
    line-height: 42px;
}
.top-month{
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}
.container__nominations2-top-list.top-color
{
    background-color: #f9f9f9;
    border-top: 2px solid #721799;
}
.top-sub:hover{
    border-top: 2px solid #721799;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.list-top__story{
    width: 100%;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    display: none;
}
.top-story__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
.top-story__item-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}
.top-story__item-stt{
    font-size: 2rem;
    font-weight: 500;
    color: #3b3b3b;
    cursor: default;
    margin-left: 4px;
}
.top1{
    color: #3498db;
}
.top2{
    color: #27ae60;
}
.top3{
    color: #d35400;
}
.top-story__item-img{
    
    height: 54px;
    overflow: hidden;
    margin-right: 3px;
}
.top-story__img{
    width: 54px;
}

.top-story__item-name{
    text-decoration: none;
}
.top-story__name{
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    margin: 15px 0 15px 0;
    line-height: 2.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.top-story__name:hover{
    color: #03f;
}
.item-information__chap-eye{
    display: flex;
    justify-content: space-between;
}
.item-information__chap{
    outline: none;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 200;
    color: #1f1f1f;
}
.item-information__eye{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 5px 0 0 ;
    color: rgb(82, 81, 81);
    cursor: default;
    font-style: italic;
}
/* People cmt */
.new-cmt{
    margin-top: 15px;
    border: 1px solid #ddd;
    
}
.header-new__cmt{
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    color: #2980b9;
    padding: 15px 0 15px 12px;
    border-bottom: 1px solid #ddd;
}
.list__new-cmt{
    height: 100vh;
    overflow-y: auto;
}
.new-cmt__story{
    display: flex;
}
.new-cmt__story-header{
    text-decoration: none;
    height: 46px;
    flex: 1;
    
}
.new-cmt__story-name{
    font-size: 1.5rem;
    font-weight: 400;
    color: #000;
    line-height: 2.2rem;
    text-overflow: ellipsis;
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
}
.new-cmt__story-name:hover{
    color: #03f;
}
.new-cmt__story-chap{
    text-decoration: none;
    text-align: center;
    height: 46px;
    line-height: 46px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #4e7af3;
    font-style: italic;
    margin: 1px 10px 0 0 ;
}
.new-cmt__story-chap:hover{
    color: #ae4ad9;
}
.new-cmt__people{
    margin: 0;
    /* border-bottom: 1px solid #ddd; */
}
.new-cmt__people-img{
   text-align: center;
   
}
.new-cmt__people-img a{
    text-decoration: none;
    outline: none;
}
.new-cmt__img{
    width: 40px;
    height: 40px;
}
.new-cmt__people-information{
    padding: 0;
    margin: 0;
}
.people-information__name-hour{
    display: flex;
    
    justify-content: space-between;
    height: 20px;
}
.people-information__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: #03f;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.people-information__hour{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: #a9a4a4;
    font-style: italic;
    border: none;
    white-space: nowrap;
    padding-right: 10px;
}
.new-cmt__content{
    margin: 6px 25px 15px 0;
    font-size: 1.3rem;
    overflow: hidden;
    line-height: 2rem;
    font-weight: 300;
    color: #222121;
}
/* Phan trang */
.container-footer{
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination {
    list-style: none;
    display: flex;
    max-width: 500;
    overflow: hidden;
    padding: 0;
}
.pagination-item__link{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    height: 30px;
    min-width: 40px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}
.pagination-item {
    margin: 0 12px;
}
.pagination-item__link {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    height: 30px;
    min-width: 40px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
}
.pagination-item__active .pagination-item__link {
    background-color: #00a5f0;
    color: var(--while-color);
}


/* SUB container */
.container__nav2.sub-container{
    margin-top: 15px;
}
.sub-container__pate{
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.sub-container__pate-item{
    font-size: 1.4rem;
    font-weight: 400px;
    color: var(--subcontainer-color);
    text-decoration: none;
    cursor: pointer;
}
.sub-container__pate-item:hover,
.sub-container__item-category:hover,
.sub-container__ratings-name:hover{
    color: #ae4ad9;
    text-decoration: underline;
}
.sub-container__pate-item i {
    font-size: 1.2rem;
    color: #ccc;
    padding: 0 5px;
    cursor: initial;
}
.sub-container__content-img{
    padding-top: 60px;
}
.sub-container__content-img img{
    width: 100%;
}
.sub-container__content-first{
    text-align: center;
    cursor: default;
}
.sub-container__first-name{
    font-size: 2.1rem;
    line-height: 2rem;
    text-transform: uppercase;
    margin: 0;
    
}
.sub-container__first-hour{
    font-size: 1.4rem;
    line-height: 1rem;
    font-weight: 300;
    opacity: 0.3;
    margin: 0;
    padding: 15px 0 10px;
    font-style: italic;
}
.sub-container__content-second{
   padding: 0;
}
.sub-container__list-second{
    list-style: none;
    display: flex;
    cursor: default;
}
.sub-container__item-rigth,
.sub-container__item-left{
    font-size: 1.6rem;
    color: #777676;
    font-weight: 400;
    margin: 0;
    line-height: 2.4rem;
}
.sub-container__item-rigth{
    width: 150px;
    padding: 10px ;
}
.sub-container__item-left{
    flex: 1;
    padding: 10px 0;
}
.sub-container__list-category{
    
    padding: 10px 0;
    flex: 1;
}
.sub-container__list-category{
    font-size: 1.6rem;
    color: var(--subcontainer-color);
}
.sub-container__item-category{
    text-decoration: none;
    font-size: 1.6rem;
    line-height: 1.8rem;
    display: inline-block;
    margin: 3px 0;
    color: var(--subcontainer-color);
}
.sub-container__ratings{
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 0;
}
.sub-container__ratings-name{
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--subcontainer-color);
    cursor: pointer;
    line-height: 2rem;
    max-width: 50%;
    margin-left: 6px;
}
.sub-container__ratings-content{
    font-size: 1.4rem;
    margin: 0;
    font-weight: 400;
    flex: 1;
    line-height: 2rem;
}
.sub-container__list-stars{
   padding: 5px 0 0 10px;
   cursor: pointer;
   display: flex;
}
.sub-container__stars-item{
    width: 50%;
}
.sub-container__stars:hover{
    color: rgb(247, 172, 59);
}
.sub-container__stars{
    font-size: 2rem;
    padding-right: 5px;
    color: #ccc;
}
.sub-container__like{
    text-decoration: none;
    min-width: 70px;
    height: 20px;
    background-color: var(--subcontainer-color);
    color: var(--while-color);
    font-size: 1.2rem;
    margin-right: 10px;
    border-radius: 3px;
    align-items: center;
    text-align: center;
    line-height: 20px;
    font-weight: 700;
}
.sub-container__like span{
    font-weight: 300;
    font-size: 1rem;
}
.sub-container__list-follow{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    cursor: default;
}

.sub-container__follow-item.btn-sub__container{
    
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.sub-container__follow-item.btn-sub__container:hover{
    background-color: #449d44;
    border-color: #398439;
}


.sub-container__follow-item i{
   margin-right: 6px;
}
.sub-container__number-follow{
    font-size: 1.6rem;
    padding-right: 5px;
    margin: 0;
    line-height: 34px;
}
.sub-container__user-follow{
    font-size: 1.4rem;
    margin: 0;
    line-height: 34px;
    font-weight: 400;
}
.sub-container__case-read{
    display: flex;
    padding: 0 10px;
}
.sub-container__plot{
    padding-top: 10px;
}
.sub-container__plot-header,
.sub-container__chapter-header{
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--subcontainer-color);
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--subcontainer-color);
}
.sub-container__plot-content{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    
    overflow: hidden;
    overflow-y: 6rem;
    margin: 0;
    position: relative;
}
.sub-container__plot-content.plot-height{
    height: 6rem;
}
.sub-container__plot-content.plot-height::before{
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background: linear-gradient(rgba(255,255,255,0),#f7f5f5);
}
.sub-container__plot-content::-webkit-scrollbar{
    display: none;
}
.sub-container__plot-next,
.sub-container__plot-prev{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--subcontainer-color);
    text-decoration: none;
    margin-top: 3px;
}
.sub-container__plot-next:hover,
.sub-container__plot-prev:hover{
    text-decoration: underline;
    color: var(--primary--color);
}

.sub-container__chapter-header{
    padding-top: 10px;
}

.sub-container__chapter-first{
    display: flex;
    padding-bottom: 10px;
}
.sub-container__chapter-int{
    font-size: 1.6rem;
    font-weight: 300;
    width: 50%;
    color: var(--text-color);
}
.sub-container__chapter-update{
    font-size: 1.4rem;
    font-weight: 400;
    flex: 1;
    color: var(--text-color);
}
.sub-container__chapter-second{
    list-style: none;
    padding: 0;
    overflow: hidden;
    overflow-y: 690px;
}
.sub-container__chapter-second.height-chapter{
    height: 690px;
}
.sub-container__chapter-second::-webkit-scrollbar{
    display: none;
}
.sub-container__list-chapter{
    display: flex;
    border-top: 1px dashed #ddd;
    padding: 10px 0;
    position: relative;
}
.sub-container__list-chapter.height-chapter:nth-child(19)::before{
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    background: linear-gradient(rgba(255,255,255,0),#f7f5f5);
}
.sub-container__item-chapter{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    width: 50%;
    color: var(--text-color);
}
.sub-container__item-hour{
    font-size: 1.3rem;
    font-weight: 200;
    flex: 1;
    color: #999;
    font-style: italic;
}
.sub-container__chapter-then,
.sub-container__chapter-back{
    display: flex;
    width: 100%;
    height: 35px;
    justify-content: center;
    border: 1px solid #ddd;
    text-decoration: none;
    color: var(--subcontainer-color);
    font-size: 1.4rem;
    align-items: center;
    background-color: #fbf7f7;
    display: none;
    margin-bottom: 15px;
}
.sub-container__chapter-then:hover,
.sub-container__chapter-back:hover{
    text-decoration: underline;
    color: var(--primary--color);
}
.sub-container__chapter-then i
{
    font-size: 1.2rem;
    margin-right: 3px;
}